target/

.idea
.project
.vscode
.settings

core/target/
core/build/
core/bin

cli/.classpath
cli/.project
cli/.settings
cli/bin

gui/.classpath
gui/.project
gui/.settings
gui/bin
gui/build

repository/.classpath
repository/.project
repository/.settings
repository/bin
